.Input {
  position: relative;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
  border: 0;
  width: 10rem;
  font-size: inherit;
}
.standard {
  border-radius: 0;
}
.change {
  width: 90%;
  border-radius: 0;
  border-bottom: 2px solid rgb(184, 184, 184);
}
